# Day 11

https://adventofcode.com/2022/day/11

In [ ]:
import aocd

day, year = 11, 2022

## Input

In [ ]:
check_example = True
example = """Monkey 0:
  Starting items: 79, 98
  Operation: new = old * 19
  Test: divisible by 23
    If true: throw to monkey 2
    If false: throw to monkey 3

Monkey 1:
  Starting items: 54, 65, 75, 74
  Operation: new = old + 6
  Test: divisible by 19
    If true: throw to monkey 2
    If false: throw to monkey 0

Monkey 2:
  Starting items: 79, 60, 97
  Operation: new = old * old
  Test: divisible by 13
    If true: throw to monkey 1
    If false: throw to monkey 3

Monkey 3:
  Starting items: 74
  Operation: new = old + 3
  Test: divisible by 17
    If true: throw to monkey 0
    If false: throw to monkey 1"""

data = example if check_example else aocd.get_data(day=day, year=year)

In [ ]:
monkeys = [monkey for monkey in data.split('\n\n')]

In [ ]:
import re
from dataclasses import dataclass
from typing import List

re_monkey = re.compile("""Monkey (?P<monkey_n>\d+):\n\
  Starting items: (?P<items>[\d\s,]+)\n\
  Operation: new = (?P<op_left>\w+) (?P<op>.) (?P<op_right>\w+)\n\
  Test: divisible by (?P<n_divisible>\d+)\n\
    If true: throw to monkey (?P<throw_true>\d+)\n\
    If false: throw to monkey (?P<throw_false>\d+)""")

In [ ]:
@dataclass
class Monkey:
    n: int
    items: List[int]
    op_left: str
    op: str
    op_right: str
    n_divisible: int
    throw_true: int
    throw_false: int
        
    @classmethod
    def from_text(cls, text: str):
        return cls(*re_monkey.match(monkeys[0]).groups())

In [ ]:
Monkey.from_text(monkeys[0])

Monkey(n='0', items='79, 98', op_left='old', op='*', op_right='19', n_divisible='23', throw_true='2', throw_false='3')

## Part 1

Figure out which monkeys to chase by counting how many items they inspect over 20 rounds. What is the level of monkey business after 20 rounds of stuff-slinging simian shenanigans?

In [ ]:
part1 = None

print("Part 1:", part1)

Part 1: None

In [ ]:
if not check_example:
    aocd.submit(part1, part=1, day=day, year=year)

## Part 2 

Render the image given by your program. What eight capital letters appear on your CRT?

In [ ]:
part2 = None

print("Part 2:", part2)

Part 2: None

In [ ]:
if not check_example:
    aocd.submit(part2, part=2, day=day, year=year)